@import "./base/_imports" as i;
@import "./base/_variables" as v;

::deep .mud-button {
}
::deep .colored-button-experiment {
    background-color: #4523bbba !important;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  
  .pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

.loading-progress {
  position: relative;
  display: block;
  width: 28rem;
  height: 28rem;
  margin: 20vh auto 1rem auto;
}

  .loading-progress circle {
      fill: none;
      stroke: #e0e0e0;
      stroke-width: 0.6rem;
      transform-origin: 50% 50%;
      transform: rotate(-90deg);
  }

      .loading-progress circle:last-child {
          stroke: #1b6ec2;
          stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
          transition: stroke-dasharray 0.05s ease-in-out;
      }

.loading-progress-text {
  position: absolute;
  text-align: center;
  font-weight: bold;
  inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

  .loading-progress-text:after {
      content: var(--blazor-load-percentage-text, "Loading");
  }
